<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="author" content="" />
<meta name="revisit-after" content="1 days" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="../../../../public/css/base.css?<%- __version__ %>" />
<link rel="stylesheet" type="text/css" href="../../../../ui/css/slider.css?<%- __version__ %>" />
</head>
<body>
<div id="page">
	<div class="view default">
		test
		<button>test</button>
	</div>
</div>
<div class="page view slide-ctn">
	<header class="header">
		<a class="action-left arrow-left" href=""></a>
		<span>test</span>
		<a class="action-right" href="">测试</a>
	</header>
	<section class="wrapper">
		<div class="scroller">
			<label>
				<input class="checkbox" type="checkbox">
				<span class="label">点击选择</span>
			</label>
			<ul>
				<% for(let i=0; i<100; i++){ %>
				<li><%- String(i).repeat(30) %></li>
				<% } %>
			</ul>
		</div>
	</section>
	<footer class="footer btn-group">
		<span class="btn-cancel">Cancel</span>
		<span class="btn-submit">Ok</span>
	</footer>
</div>
<script id="requirejs" data-version="<%- __version__ %>" src="../../../../public/js/require.js?<%- __version__ %>"></script>
<script>
require.config({
	baseUrl:'../../../../',
	urlArgs:document.getElementById("requirejs").getAttribute("data-version"),
	map:{"*":{css:"require-css"}},
	paths:{
		jquery:'public/js/jquery',
		IScroll:'public/js/iscroll'
	},
	shim:{
	}
});
require(['jquery', 'IScroll'],function($, IScroll){
	$('button').click(function(){
		$('.slide-ctn').addClass('slide-in');
	});
	$('.btn-cancel').click(function(){
		$('.slide-ctn').removeClass('slide-in');
	});
	$('.btn-submit').click(function(){
		$('.slide-ctn').removeClass('slide-in');
	});
	myScroll = new IScroll('section', {
		top:true,
		/* probeType:3, */
		mouseWheel:true,
		scrollbars:true,
		fadeScrollbars:true,
		interactiveScrollbars: true,
		shrinkScrollbars: 'scale',
		preventDefaultException : {
			tagName:/^(INPUT|TEXTAREA|BUTTON|SELECT|LABEL)$/,
			className:/(^|\s)label(\s|$)/
		}
	});
});
</script>
</body>
</html>
